<P style="color:red">Попробуем <span>совсем</span> усложнить:</P>
<p>p == P.</p>
<123p>А вот такой тег — учитываться не будет</123p>
<ру>И этот тоже отфильтруется<span>Но не этот</span></ру>
<!-- Комментарий считается тэгом. а вот <strong>тэг внутри комментария тэгом не считается</strong> -->
<script type="application/javascript">
    let a = "<p>Как и тэг внутри тега script</p>";
</script>
<!-- Насчитал 5 тэгов -->
